html, body{
	margin:0;
   padding:0;
   height:100%;
}

#app, .main-wrapper{
	min-height: 100%;
}

.navbar{
	top: 0 !important;
}

.navbar-bg{
	height: 80px !important;
}

.right-side{
	margin-left: 0;
}

.left-sidebar{
	position: fixed;
	width: 220px;
	height: 100%;
	z-index: 5;
	left: -220px;
}

.left-sidebar.active{
	left: 0px;
}

.left-sidebar .toggle-btn{
	position: absolute;
	left: 230px;
	top: 10px;
}

.skin-blue .right-side > .content-header{
	text-align: center;
}

.left-sidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 4px;
	background: black;
	margin: 6px 0px;
}

#table-job th{
	text-align: center!important;
	padding: 10 0;
}
#table-job td{
	text-align: center!important;
	padding: 10px 10px;
}

.pull-left .form-group{
	margin-left: 5px;
	width: 60rem;
}
.pull-left label{
	text-align: justify!important;
	padding: 7px 0 0 0;
}
.pull-left input{
	letter-spacing: 2px;
}
.pull-left #btn-filter{
	position: relative;
	text-align: center;
	float: right;
}
.pull-left button{
	width: 100px;
	height: 40px;
	letter-spacing: 3px;
}
.pull-left button #info{
	position: absolute;
}

.pull-right button{
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 40px;
	color: #ffffff!important;
	margin-top: 70px;
}




@media screen and (max-width: 500px){
	body > .header .logo, body > .header .navbar{
		width: 250px;
		float: right;
	}

	.navbar .navbar-right{
		font-size: 10px;
	}

	.skin-blue .navbar .navbar-right>.nav{
		margin: 0;
	}

	.navbar-nav > .user-menu > .dropdown-menu > li.user-footer{
		padding: 0;
		text-align: center;
		width: 120px;
	}

	.navbar-nav > .user-menu > .dropdown-menu > li.user-footer .btn-default{
		font-size: 10px;
		margin: 5px 0px;
		padding: 0;
		width: 120px;
		text-align: center;
	}

	.left-sidebar{
		width: 120px;
		font-size: 13px;
	}
	.user-panel{
		padding: 2px;
		font-size: 6px;
		text-align: center;
	}

	.pull-left{
		float: none!important;
	}

	.user-panel>.info{
		padding: 5px 0 5px 0;
		font-size: 7px;
	}

	.sidebar .sidebar-menu > li > a{
		padding: 10px 5px;
	}

	.sidebar .sidebar-menu .treeview-menu > li > a{
		font-size: 12px;
		padding: 5px 0;
		margin: 5px 0;
	}

	.right-side{
		width: 100%;
	}
  
}

/*coba dulu ya*/

/*----------FILTER DATATABLES----------*/

form #filter-date{
	margin-left: 2rem;
	margin-bottom: 4rem;
	width: 100%;
}

form #filter-date h5{
	position: absolute;
	width: 30%;
	margin: 5px 0;

}

form #filter-date #reportrange{
	position: relative;
	margin-left: 15%;
}


/*----------FILTER DATATABLES----------*/
/*----------DATATABLES----------*/

.dt-buttons{
	position: absolute !important;
	float: right !important;
	margin: 0 !important;
	top: -4rem;
	right: 0;
}

button.dt-buttons{
	width: 10rem!important;
	margin: 0!important;
}



/*----------DATATABLES----------*/
/*------------FOOTER------------------*/

.footer{
	bottom: 0;
	padding: 5px 0;
	position: relative;
    width: 100%;
    text-align: center;
    height:100px;
    line-height:40px;
}

.footer .footer-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background:#ececeb;
    color:#000000;
}



/*------------FOOTER------------------*/
.connectedSortable{
	width: 100% !important;
}
#tesModal .modal-content{
	width: 100% !important;
}

#tesModal .modal-dialog{
	margin: 0 !important;
	max-width: 100% !important;
}

#tesModal .modal-header{
	width: 100% !important;
}
#tesModal .judul-img{
	text-align: center;
	background-color: black;
	height: 30px;
	margin-bottom: 10px;
}
#tesModal .judul-img h4{
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	letter-spacing: 2px;
}
#tesModal .img{
	text-align: center;
}
#tesModal .Image img{
	margin: 0 10px;
}

/* ---------Style Content-------- */
.section{
	margin-bottom: 30px;
}

<<<<<<< HEAD
=======
table tbody td{
	text-align: center;
}

>>>>>>> a37b4abfac64d11c9bd41f89f9226867e91cb1a3
#order_data thead tr{
	background-color: #6777ef;
}

#order_open thead tr{
	background-color: #6777ef;
}

button.dt-button{
	background-color: #52de97 !important;
	background-image: none !important;
	padding: 10px !important;
	font-size: 12px !important;
	color: #394a6d !important;
	border: none !important;
	font-weight: bold;
}

#card-order{
	margin: 0 10px; 
	background-color: #f9f9f9;
	-webkit-box-shadow: 0px 14px 36px -2px rgba(0,0,0,0.92); 
	box-shadow: 0px 14px 36px -2px rgba(0,0,0,0.92);
}

#card-order a{
	text-decoration: none;
	color: #000000;
}

.card #card-home{
	padding: 0 !important;
	text-align: center;
	border-bottom-color: #000000!important;
}

.card #card-home p{
	width: 100%;
	font-weight: bold;	
}

#row-card{
	text-align: center;
}

#chart_home{
	margin-top: 60px;
}

#update-nav {
  width: 100%;
  height: 30px;  
}
#range-selector {
  width: 50%;    
  float: left;
}
#date-selector {
  width: 50%;
  float: right;  
<<<<<<< HEAD
=======
}
input[type="text"] {
   width: 120px !important;         
>>>>>>> a37b4abfac64d11c9bd41f89f9226867e91cb1a3
}