html{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

body{
	background: transparent;
}

#login-box{
	padding: 40px 20px;
	-webkit-box-shadow: 0px 3px 5px 12px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 12px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 12px rgba(0,0,0,0.75);
	margin-bottom: 50px;
	margin-top: 15rem;
	border-radius: 30px;
	text-align: center;
}

#login-box .header, #login-box .body, #login-box .footer{
	background: transparent;
}

#login-box .header, #login-box .footer{
	padding: 0;
}

#login-box .header{
	box-shadow: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

#login-box button{
	font-size: 15px;
	font-weight: bold;
	width: 20rem;
	text-align: center;
	margin: auto;
	background: #ffbf00;
}

#login-box img{
	width: 150px;
	margin: auto;
}

#login-box .form-group{
	margin-bottom: 10px;
	margin-top: 10px;
}

#login-box input{
	text-align: center;
	background: black;
	color: white;
<<<<<<< HEAD
}

#login-box select{
	text-align: center;
	text-align-last: center;
	background: black;
	color: white;
}

option{
	text-align: left;
	text-align-last: left;
=======
>>>>>>> a37b4abfac64d11c9bd41f89f9226867e91cb1a3
}