body{
	margin: 0;
	padding: 0;
}

.invoice-info{
	width: 100%;
}
.invoice-left{
	position: relative;
	float: left;
	margin-left: 30px;
	line-height: 0.5;
}
.invoice-left .job-left{
	position: absolute;
	float: left;
	margin-left: 90px;
	line-height: 0.5;
	top: -2px;
	width: 250px;
}

.invoice-right{
	position: relative;
	float: right;
	margin-right: 5px;
	line-height: 0.5;
	width: 300px;
}
.invoice-right .job-right{
	position: absolute;
	float: right;
	margin-left: 9rem;
	line-height: 0.5;
	top: -2px;
	width: 250px;
}


.invoice-info h3{
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
}

.invoice-bottom{
	margin-left: 30px;
	line-height: 0.5;
<<<<<<< HEAD
	position: absolute;
	width: 100%;
	top: 140px;
}
.invoice-bottom h5, .invoice-bottom h3{
	font-family: Arial, Helvetica, sans-serif;
}

=======
}
>>>>>>> a37b4abfac64d11c9bd41f89f9226867e91cb1a3
.invoice-info .image{
	text-align: center;
}

.table-bordered{
	position: relative;
	width: 100%;
	text-align: center;
	margin: 10px;
}
.table-bordered td{
	padding: 10px 0;
}
<<<<<<< HEAD

#invoice-data{
	position: relative;
	margin-left: 150px;
	margin-bottom: 70px;
	
}
#invoice-data p{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.4;
}
=======
>>>>>>> a37b4abfac64d11c9bd41f89f9226867e91cb1a3
